* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media only screen and (min-width: 700px)  {
  html {
    font-size: 22px;
  }
}

body {
  background-color: white;
  color: #3726b0;
  font-family: "Poppins", helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
}

a {
  text-decoration: none;
  color: #3726b0;
}

a:focus,
a:hover {
  text-decoration: underline;
}

em {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

button {
  background-color: #3726b0;
  background: linear-gradient(140deg, #3726b0, #c347d7 45%);
  background-size: 200% auto;
  border: 0;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  min-width: 15rem;
  padding: 0.75em 2em;
  text-align: center;
  text-transform: uppercase;
  transition: background 250ms ease;
}

button:focus,
button:hover {
  background-color: #c347d7;
  background-position: right center;
}

.hidden {
  height: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}

.site-header {
  font-family: "Raleway", helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.site-header__title-image {
  height: auto;
  width: 100%;
}

.site-header__title-text {
  font-size: 80px;
  font-size: 10vw;
}

.non-quiz-section {
  margin: 0 auto 2rem;
  max-width: 700px;
  text-align: center;
}

.non-quiz-section__title {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.non-quiz-section__info {
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0.5rem 10px 1rem;
}

.non-quiz-section__image {
  display: block;
  margin: 0 auto 1rem;
}

.quiz-section {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 1rem;
  width: 100%;
}

@media only screen and (min-height: 700px) {
  .quiz-section {
    top: 50%;
    transform: translateY(-50%);
  }
}

.quiz-section__wrapper {
  background: linear-gradient(160deg, #3726b0, #c347d7 70%);
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 3px;
}

.quiz-section__content {
  background-color: white;
  padding: 1rem 1.5rem;
}

.quiz-section__header {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.quiz-section__footer {
  margin-top: 1rem;
  text-align: center;
}

.quiz-section__next {
  display: none;
}

.quiz-results {
  display: none;
}

.quiz-form {
  margin-top: 1.5rem;
}

.quiz-form__question {
  margin-bottom: 1.5rem;
}

.quiz-form__input {
  opacity: 0;
  position: absolute
}

.quiz-form__option {
  display: flex;
  border: 2px solid #f6ecff;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 0.9rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  position: relative;
}

.quiz-form__input:focus + .quiz-form__option,
.quiz-form__option:hover {
  border-color: #3726b0;
}

.quiz-form__input:checked + .quiz-form__option {
  background-color: #f6ecff;
  border-color: #3726b0;
}

.quiz-form__input.correct-answer + .quiz-form__option {
  background: linear-gradient(140deg, #3726b0, #c347d7 45%);
  border-color: white;
  color: white;
}

.quiz-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quiz-form__response {
  animation: fade-in 500ms ease;
  display: inline-block;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
}

.quiz-form__input.wrong-answer + .quiz-form__option {
  background: white;
  border-color: currentColor;
  color: #c52d2f;
}

.quiz-form__input.wrong-answer + .quiz-form__option .quiz-form__option-answer {
  text-decoration: line-through;
}

/* Stars twinkling in animation for the correct answer */

.quiz-form__input.correct-answer + .quiz-form__option::after,
.quiz-form__input.correct-answer + .quiz-form__option::before,
.quiz-form__input.correct-answer + .quiz-form__option .quiz-form__response::after,
.quiz-form__input.correct-answer + .quiz-form__option .quiz-form__response::before {
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;
  background-image: url("images/star.svg");
  content: "";
  height: 58px;
  width: 56px;
  position: absolute;
}

.quiz-form__input.correct-answer + .quiz-form__option::before {
  animation-delay: 500ms;
  left: -10px;
  top: -5px;
  visibility: hidden;
}

.quiz-form__input.correct-answer + .quiz-form__option::after {
  left: 200px;
  bottom: 5px;
}

.quiz-form__input.correct-answer + .quiz-form__option .quiz-form__response::after {
  animation-delay: 100ms;
  right: 100px;
  top: 0;
  visibility: hidden;
}

.quiz-form__input.correct-answer + .quiz-form__option .quiz-form__response::before {
  animation-delay: 250ms;
  right: 0;
  top: 20px;
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 100%;
    visibility: visible;
  }
}